@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.main-layout-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 11rem 1fr;
  /* Full viewport height so the background shows fully. */
  height: 100vh;
  /* Position relative to the viewport or container. */
  background: url("/assets/hike-gang-bg.png") no-repeat;
  background-size: 100% 100%;
  font-family: "Press Start 2P";
}

app-header {
  grid-column: 1 / -1;
}

.content-container {
  display: contents;
}

app-sidebar {
  width: 11rem;
  flex-shrink: 0;
  background-color: var(--background-shade-color-4);
  overflow-y: auto;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  color: --text-color;
  padding: 1rem;
}
