.main-layout-container {
  display: flex;
  height: 100vh;
}

app-sidebar {
  width: 15rem;
  flex-shrink: 0;
  background-color: var(--background-shade-color-1);
  padding: 1rem;
}

main {
  flex-grow: 1;
  background-color: var(--background-shade-color-2);
  color: --text-color;
  padding: 1rem;
  overflow-y: scroll;
}
