.page-container {
  height: 100%;
  border: 1px solid;
  border-color: red;

  .breadcrumb-container {
    height: 4rem;
    width: 100%;
    font-size: 1.25rem;
    color: var(--text-primary);
    padding-bottom: 1rem;
    display: fled;
    align-items: center;

    a {
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .separator {
    }

    .current {
    }
  }
}
