<!-- Row 1: user stats (full width) -->
<div class="row flex-shrink-0">
  <div class="col-auto p-3" style="width: 200px">
    <app-user-stats></app-user-stats>
  </div>
  <div class="col p-3 position-relative"></div>
</div>

<!-- Row 2: activity list (full width) -->
<div class="row flex-shrink-0">
  <div class="col p-3">
    <app-activities-list></app-activities-list>
  </div>
</div>

<div class="row flex-grow-1 overflow-hidden">
  <div class="col p-3 position-relative">
    <app-activity-map></app-activity-map>
  </div>
</div>
