<div>
  <table>
    <thead>
      <tr>
        <th scope="col">Strava ID</th>
        <th scope="col">Name</th>
        <th scope="col">Time</th>
        <th scope="col">Distance</th>
        <th scope="col">Elevation</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let act of paginatedActivities">
        <td>
          <a
            [href]="
              'https://www.strava.com/activities/' + act.strava_activity_id
            "
            target="_blank"
            rel="noopener"
          >
            {{ act.strava_activity_id }}
          </a>
        </td>
        <td>{{ truncateName(act.name) }}</td>
        <td>{{ formatMovingTime(act.moving_time) }}</td>
        <td>{{ formatDistance(act.distance) }}</td>
        <td>{{ formatElevation(act.total_elevation_gain) }}</td>
        <td>{{ act.start_date | date : "yyyy-MM-dd" }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <nav *ngIf="totalPages() > 1">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
      </li>

      <li
        class="page-item"
        *ngFor="let page of getDisplayedPages()"
        [class.active]="page === currentPage"
        [class.disabled]="page === -1"
      >
        <a class="page-link" *ngIf="page !== -1" (click)="goToPage(page)">{{
          page
        }}</a>
        <span class="page-link" *ngIf="page === -1">...</span>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages()">
        <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>
