apiVersion: apps/v1
kind: Deployment
metadata:
  name: summitseekers-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: summitseekers-backend
  template:
    metadata:
      labels:
        app: summitseekers-backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/craeyefish/summitseekers-backend:backend-v0.0.16 # {"$imagepolicy": "flux-system:summitseekers-backend"}
          ports:
            - containerPort: 8080
          env:
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: host
            - name: DATABASE_PORT
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: port
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: username
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: password
            - name: DATABASE_DBNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: database
            - name: DATABASE_SSLMODE
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: sslmode
            - name: STRAVA_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: strava-credentials
                  key: STRAVA_CLIENT_ID
            - name: STRAVA_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: strava-credentials
                  key: STRAVA_CLIENT_SECRET
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_SECRET
            - name: DISTANCE_CACHE_TTL
              value: '1'
            - name: SUMMIT_THRESHOLD_METERS
              value: '0.0007'
---
apiVersion: v1
kind: Service
metadata:
  name: summitseekers-backend
  namespace: default
spec:
  type: NodePort
  selector:
    app: summitseekers-backend # matches deployment's labels
  ports:
    - port: 8080 # Service port
      targetPort: 8080 # Container port from your deployment
      nodePort: 30081 # NodePort (pick any free port in 30000-32767)
