apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: default
data:
  config.yaml: |
    tunnel: 9ebe05d0-4777-4785-b32f-07714ded5e3b
    credentials-file: /etc/cloudflared/creds/credentials.json
    no-autoupdate: true
    ingress:
      - hostname: summitseekers.co.za
        service: http://traefik.kube-system.svc.cluster.local:80
      - service: http_status:404

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:latest
          args: ['tunnel', 'run']
          volumeMounts:
            - name: tunnel-credentials
              mountPath: /etc/cloudflared/creds
              readOnly: true
            - name: tunnel-config
              mountPath: /etc/cloudflared
              readOnly: true
      volumes:
        - name: tunnel-credentials
          secret:
            secretName: cloudflared-credentials
        - name: tunnel-config
          configMap:
            name: cloudflared-config
