apiVersion: apps/v1
kind: Deployment
metadata:
  name: summitseekers-frontend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: summitseekers-frontend
  template:
    metadata:
      labels:
        app: summitseekers-frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/craeyefish/summitseekers-frontend:frontend-v1.2.20 # {"$imagepolicy": "flux-system:summitseekers-frontend"}
          resources:
            requests:
              memory: '128Mi'
              cpu: '50m'
            limits:
              memory: '256Mi'
              cpu: '250m'
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: summitseekers-frontend
  namespace: default
spec:
  type: NodePort
  selector:
    app: summitseekers-frontend # matches deployment's labels
  ports:
    - port: 80 # Service port
      targetPort: 80 # Container port from your frontend deployment
      nodePort: 30080 # NodePort
