# Ingress for backend
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: summitseekers-backend-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: 'traefik'
    traefik.ingress.kubernetes.io/router.priority: '30'
spec:
  ingressClassName: traefik
  rules:
    - host: summitseekers.co.za
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: summitseekers-backend
                port:
                  number: 8080
          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: summitseekers-backend
                port:
                  number: 8080
          - path: /hikegang
            pathType: Prefix
            backend:
              service:
                name: summitseekers-backend
                port:
                  number: 8080
          - path: /webhook
            pathType: Prefix
            backend:
              service:
                name: summitseekers-backend
                port:
                  number: 8080
          - path: /support/delete-account
            pathType: Prefix
            backend:
              service:
                name: summitseekers-backend
                port:
                  number: 8080
          - path: /support/refresh-peaks
            pathType: Prefix
            backend:
              service:
                name: summitseekers-backend
                port:
                  number: 8080

---
# Ingress for frontend
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: summitseekers-frontend-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: 'traefik'
    traefik.ingress.kubernetes.io/router.priority: '10'
spec:
  ingressClassName: traefik
  rules:
    - host: summitseekers.co.za
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: summitseekers-frontend
                port:
                  number: 80
