---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: jwt-secret
  namespace: default
spec:
  encryptedData:
    JWT_SECRET: AgBpXsKQFpE3y7vP5NI+k6SAAkITGRRIbINSX6zJuLEo9ZK5rVc2IjVdyaQuMmoU5ZOApRbp+gguLBRMk8ZjpA2EJDRyoMwCCA/MllVMiB31kBU0p/dSoKGVy5KuhV1qNKWtOe8Cah0IHB4cxGoGjGamHDWb772u4sMafAFoXyzzT/p6+HY74IZ86l+Mr4DDHKhWaDtBkSpjwLvqkf8ZTn/QVQiyqneN13+N686HXb4rLUxhuoTkMCwyP6uhlrkapDFhbqtuuzn8bopKT6xGdJwc/ClI9C30k2YMtrs7myDqBewXWvXbFIeWvhyaYECqFGugaX87sh4NKOMIrCggNQydQcgrzPJdl+f2v0oGae4QKG2WZQCW/DNXkHumdny7Vew5oGC+cM9MtGaNn7sJnJ6pz4cTf1i3Cb6Eei+xxP6N7m0j3AyEtB1ki0NVuGOiUzip2EvlmEtJw2xnoCQ0RERqZfWNMMOkLE/8XpOWVObIjcRms3lNssIItiA9MtgFGf+MFjPBEG+etFtzd3yQx4RbaULoefn9RI+y10uODq3rLBoICo68LTJsf0cIlE+Ml2wjKW1rHdgAxAuzA1DKM4QjxZCSt18urnrb+oGg3Ahdoan/bGIQ6F30mvKgfKDrYsUY2CAX3IByJOxE6q8ibM+QXR6+E7ASZRzxINW6/dw922KpQ9x4NEY7EYsahhSbnrhKtWrz1qA=
  template:
    metadata:
      name: jwt-secret
      namespace: default
    type: Opaque
