table {
  .name-cell {
    width: 65%;
  }

  .code-cell {
    width: 20%;
  }

  .edit-cell {
    height: 100%;
    width: 15%;
    padding-right: 0.5rem;

    .cell-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: var(--background-shade-color-2);
  }

  .edit-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.leave-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: var(--background-shade-color-2);
  }

  .leave-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}
