<table>
  <thead>
    <tr>
      <th>Group Name</th>
      <th>Created By</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="groupService.selectedGroup() as selectedGroup">
      <tr
        *ngFor="let group of groupService.groups()"
        (click)="selectGroup(group)"
        [class.selected]="group === selectedGroup"
      >
        <td>{{ group.name }}</td>
        <td>{{ group.created_by }}</td>
        <td>{{ group.created_at }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
