table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
  background-color: var(--background-light-shade);

  thead tr {
    height: 2rem;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    text-align: left;
  }

  th,
  td {
    padding-left: 0.75rem;
  }

  // add bottom border to each row
  tbody tr {
    height: 2.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 0.1rem solid var(--background-secondary);
  }

  .name-cell {
    width: 70%;
  }

  .code-cell {
    width: 20%;
  }

  .edit-cell {
    height: 100%;
    width: 10%;
    padding-right: 0.5rem;

    .cell-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  tbody tr:hover {
    background-color: var(--background-primary);
  }
}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: var(--background-shade-color-2);
  }

  .edit-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}
