<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let group of groupService.groups()"
      (click)="selectGroup(group)"
    >
      <td class="name-cell">{{ group.name }}</td>
      <td class="code-cell">{{ group.code }}</td>
      <td class="edit-cell">
        <div class="cell-container">
          <button
            class="edit-btn"
            (click)="onEditGroupClick?.(group); $event.stopPropagation()"
          >
            <img src="assets/icons/settings.svg" alt="Edit" class="edit-icon" />
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
