nav {
  border: 1px solid black;
  color: white;

  ul {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    list-style: none;
    gap: 0.5rem;
  }

  li {
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }
}
