<table>
  <thead>
    <tr>
      <th>Goal</th>
      <th>Target Value</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="groupService.selectedGoal() as selectedGoal">
      <tr
        *ngFor="let goal of groupService.goals()"
        (click)="selectGoal(goal)"
        [class.selected]="goal === selectedGoal"
      >
        <td>{{ goal.name }}</td>
        <td>{{ goal.target_value }}</td>
        <td>{{ goal.start_date }}</td>
        <td>{{ goal.end_date }}</td>
        <td class="edit-cell">
          <button
            class="edit-btn"
            *ngIf="goal === selectedGoal"
            (click)="onEditGoalClick?.(goal); $event.stopPropagation()"
          >
            <img src="assets/icons/settings.svg" alt="Edit" class="edit-icon" />
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
