table {
  font-size: 0.6rem;

  .edit-cell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .edit-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      cursor: pointer;
      height: 100%;
      border: none;

      .edit-icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .progress-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-right: 1rem;

    groups-progress-bar {
      flex-grow: 1;
    }
  }

  .col-goal {
    width: 25%;
  }
  .col-progress {
    width: 25%;
  }
  .col-target {
    width: 15%;
  }
  .col-start {
    width: 15%;
  }
  .col-end {
    width: 15%;
  }
  .col-settings {
    width: 5%;
  }
}
