table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.6rem;
  text-align: left;
  background-color: var(--background-shade-color-4);

  thead tr {
    height: 2rem;
    background-color: var(--background-secondary);
    color: var(--text-secondary);
    text-align: left;
  }

  th,
  td {
    padding-left: 0.75rem;
  }

  // add bottom border to each row
  tbody tr {
    height: 2.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border-bottom: 0.1rem solid var(--background-secondary);
  }

  // add lighter background for every second row
  .tbody tr:nth-of-type(even) {
    background-color: var(--background-shade-color-2);
  }

  tr.selected {
    background-color: color-mix(in srgb, var(--secondary-color) 50%, white);
    cursor: pointer;
  }

  .edit-cell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
    height: 100%;
  }

  .edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    border: none;

    .edit-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  tr.selected .edit-btn {
    visibility: visible;

    &:hover {
      filter: invert(1);
    }
  }

  tbody tr:hover {
    background-color: var(--background-primary);
  }

  tbody tr.selected:hover {
    background-color: color-mix(in srgb, var(--secondary-color) 50%, white);
  }
}
