<table>
  <colgroup>
    <col class="col-goal" />
    <col class="col-progress" />
    <col class="col-target" />
    <col class="col-start" />
    <col class="col-end" />
    <col class="col-settings" />
  </colgroup>
  <thead>
    <tr>
      <th>Goal</th>
      <th>Progress</th>
      <th>Target Value</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="groupService.selectedGoal() as selectedGoal">
      <tr
        *ngFor="let goal of groupService.goals()"
        (click)="selectGoal(goal)"
        [class.selected]="goal === selectedGoal"
      >
        <td>{{ goal.name }}</td>
        <td>
          <div class="progress-cell">
            <groups-progress-bar [goal]="goal"></groups-progress-bar>
          </div>
        </td>
        <td>{{ goal.target_value }}</td>
        <td>{{ goal.start_date }}</td>
        <td>{{ goal.end_date }}</td>
        <td>
          <div class="edit-cell">
            <button
              class="edit-btn"
              (click)="onEditGoalClick?.(goal); $event.stopPropagation()"
            >
              <img
                src="assets/icons/settings.svg"
                alt="Edit"
                class="edit-icon"
              />
            </button>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
