<table>
  <thead>
    <tr>
      <th>Goal</th>
      <th>Target Summits</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Distance</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2025 WOOP WOOP</td>
      <td>100000</td>
      <td>2025-01-01</td>
      <td>2025-12-31</td>
      <td>100000</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>2024 OH NOOO</td>
      <td>100</td>
      <td>2024-01-01</td>
      <td>2024-12-31</td>
      <td>100000</td>
      <td>No</td>
    </tr>
    <tr>
      <td>2023 OOPSIE</td>
      <td>99</td>
      <td>2023-01-01</td>
      <td>2023-12-31</td>
      <td>100000</td>
      <td>No</td>
    </tr>
  </tbody>
</table>
