// Light Theme Colors
$primary: #63d2ff; // Pale Azure
$secondary: #78d5d7; // Tiffany Blue
$background: #f7f9f9; // Seasalt
$surface: #bed8d4; // Ash Gray
$text: #212529; // Standard dark text
$accent: #2081c3; // Steel Blue

@mixin theme($primary, $secondary, $background, $surface, $text, $accent) {
  --primary-color: #{$primary};
  --secondary-color: #{$secondary};
  --background-color: #{$background};
  --surface-color: #{$surface};
  --text-color: #{$text};
  --accent-color: #{$accent};
}

:root {
  @include theme($primary, $secondary, $background, $surface, $text, $accent);
}
