<table>
  <thead>
    <tr>
      <th>UserID</th>
      <th>Role</th>
      <th>Activities</th>
      <th>Distance</th>
      <th>Elevation</th>
      <th>Unique Summits</th>
      <th>Summits</th>
      <th>Contribution %</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of membersComputed()">
      <td>{{ member.userId }}</td>
      <td>{{ member.role }}</td>
      <td>{{ member.totalActivities }}</td>
      <td>{{ member.totalDistance }}</td>
      <td></td>
      <td>{{ member.totalUniqueSummits }}</td>
      <td>{{ member.totalSummits }}</td>
      <td>{{ member.contributionPercentage }} %</td>
    </tr>
  </tbody>
</table>
