<table>
  <thead>
    <tr>
      <th>UserID</th>
      <th>Role</th>
      <th>Activities</th>
      <th>Distance</th>
      <th>Unique Summits</th>
      <th>Summits</th>
      <th>Contribution %</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of membersComputed()">
      <td>{{ member.user_id }}</td>
      <td>{{ member.role }}</td>
      <td>{{ member.total_activities }}</td>
      <td>{{ member.total_distance }}</td>
      <td>{{ member.total_unique_summits }}</td>
      <td>{{ member.total_summits }}</td>
      <td>{{ member.contributionPercentage }} %</td>
    </tr>
  </tbody>
</table>
