table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: left;
  }

  th,
  td {
    padding: 0.5rem 0.75rem;
  }

  // add bottom border to each row
  tbody tr {
    border-bottom: 0.1rem solid var(--background-shade-color-2);
  }

  // add lighter background for every second row
  .tbody tr:nth-of-type(even) {
    background-color: var(--background-shade-color-2);
  }

  // style active row
  tbody tr.active-row {
    font-weight: bold;
    color: var(--surface-color);
  }
}
